.cat {
    padding-left: 8px;
    padding-right: 8px;
    flex: 0 0 25%;
    .image {
        width: 100%;
        padding-bottom: 65%;
        background-color: pink;
        margin-bottom: 12px;
    }
    > div {
        display: flex;
        > div {
            flex: 1 0 auto;
            text-transform: uppercase;
        }
        > span {
        }
    }
}
